h1{
	font-family:Garamond bold;
	text-align: center;
	font-size: 100px;
	font-family: 'Orelega One', cursive;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img{
	border: double 10px;
	width: 400px;
	margin-bottom: 50px;
}

body{
	background-image: url(images/hockey.jpg);
	background-size: cover;
	background-repeat:none;
	background-attachment: fixed;
}

h2,h4{
	text-align: center;
}

.text{
	padding: 20px;
	margin-bottom: 30px;
	width:630px;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
	border: dashed;
	border-radius: 30px;
}

.title{
	color: white;
	padding-top: 120px;
	padding-bottom: 50px;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	-webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
	text-align: center;
}

p{
	text-indent: 40px;
	text-align: center;
}